/* Body */
body{
    background-color: #060606 ; 
}

.banner-text {
	padding-top: 5%;
}

.banner-text h1{
	font-family: "Source Sans Pro";
	color: #ffffff;
	font-size: 55px;
	letter-spacing: 10px;
	font-weight: 600;
}

.banner-text a{
	color: #8d8d8d;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 5px;
	line-height: 24px;
	margin-top: 15px;
	margin-bottom: 80px;
	text-transform: uppercase;
}

.news h5 h6 {
	font: 30px ;
}
.news p {
	color: #ffffff;
	display: block;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	margin-top: 20px;
}

.news a{
	color: #ffffff;
	font-size: 12px;
}

.h3{
    color: #ffffff;
	margin-bottom: 3.5rem;
}

.modal-content {
    background-color: #000;
    color:#ffe4be;
    border-radius: 0rem;
}